<style>
  @import url('/static/stylesheets/style.css');
</style>
<script defer src="/assets/script.js"></script>

<%- include('header') -%>

<section class="dashboard-container">
  <h1 class="dashboard-title"><%= title %></h1>
  <h3 class="dashboard-heading">Welcome to Express Dashboard</h3>
</section>
