<header>
  <div class="logo">H&L</div>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav class="nav-bar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/create" class="">Admin</a>
      </li>
      <li>
        <a href="/dashboard" class="">Dashboard</a>
      </li>
      <li>
        <a href="/secured" class="">Secured</a>
      </li>
      <li>
        <a href="/contact" class="">Contact</a>
      </li>

      <% if(!isAuthenticated) { %>
      <li>
        <a href="/login/" class="active">Login</a>
        <% } else { %>
      </li>
      <li>
        <a href="/logout/" class="active">Logout</a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
